.row div {
  background-color:#ddd;
}
#nav{
	/*float:left;*/
	width: 100%;
	/*height: 50px;*/
	position:absolute;
	/*background-color: aliceblue;*/
	/*display: inline-block;*/
	top:50px;
}
#nav ul{
	display: inline-block;
}
#header{
	padding:20px;
	height:100px;
}
#logout{
	margin-left: 90%;
	margin-top: 1%;
}
#logout a{
	text-decoration: none;
}
#about{
	position: absolute;
	top: 200px;
	left: 25px;
	text-align: left;
	float:left;
}
#bookForm{
	position: relative;
	right: 15%;
	width: 60%;
	float: right;
}
#form{
	position: relative;
	right: 60px;
}
#loginText{
	color: #3a87ad;
}
#assignText{
	color: #468847;
}
#signupButton{
	background: #0066FF;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#loginButton{
	display: inline;
	background: #468847;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#continueButton{
	background: #3a87ad;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#tags{
	position: relative;
	left:50px;
}
#register{
	text-decoration:none;
	
}
#mainNav{
	margin-bottom: 0px;
	margin-top: 0px;
	position: relative;
	top: 0px;
}
#coursesNavbar{
	display: inline-block;
	float: none;
	width: 100%;
	position: absolute;
	left: 0px;
	text-align: center;
	margin-bottom: 2px;
}

#form{
	padding: 1.5%;
	padding-top: 8%;
	padding-bottom: 8%;
	float:right;
	position: absolute;
	right: 6%;
	border-left: #4A3A3A 2px solid;
	top: 30%;
	width: 20%;
}
#content{
	float: left;
	position: static;
	width: 65%;
	margin-left: 2%;
	margin-right: 2%;
	clear: left;
}
#table{
	float:left;
	position: relative;
	left: 10%;
	right: 1%;
	width: 75%;
}
#eventColumn{
	width: 40%;
}
#arrow{
	//content: hide;
	float:right;
	position: relative;
	bottom: 97px;
	right: 50px;
}
#table{
	position: relative;
	bottom: 10px;
}
#table th{
	padding-top: 8px;
	padding-bottom: 8px;
	//margin-left: 4px;
	//padding-right: 4px;
}
#table td{
	padding-top: 20px;
	padding-bottom: 20px;
}
input[type='text']{
	height: 30px;
}
input[type='password']{
	height: 30px;
}
#nav{
	float: left;
}
#placeholder{
	color: #999999;
}
#logoutAlert{
	position: absolute;
	float:right;
	//right:28%;
	left: 32%;
}
.navbar .brand{
	font-size: 33px;
	font-weight: 500;
	padding: 15px;
}
#courses_navbar{
	margin-bottom: 5px;
}
#courseList{
	float: none;
	display: inline-block;
	height: 40px;
}
#courseHeading{
	line-height: 25px;
}
#courseListContainer{
	height: 64%;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
#left
{
  /*width: 300px;*/
  width: 20%;
  height: 64%;
  float: left;
}
h5{
	margin-bottom: 0px;
	margin-top: 2px;
	line-height: 15px;
}
#tabs-left{
	height: 450px;
	overflow-y: scroll;	
}
#left ul
{	
	margin-left: 25px;
	padding: 2px;
	
   
}
#listHeading{
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 5px;
	margin-left: 25px;
}
#miscLinks{
	float: right;
	
}
#miscLinks > li{
	line-height: 30px;
	font-size: 18px;
	font-weight: 600;
}
#right
{
  width: 80%;
  height: 64%;
  /*margin-left: 200px; /* Change this to whatever the width of your left column is*/
  display: inline-block;
}
#chart{
	float: left;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	width: 650px;
	height:  500px;
	
}
#chart2{
	float: left;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	width: 460px;
	height:  520px;
	
}
#canvas{
	float: center;
}
#myChart1{
	/*clear: right; 
	/*float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;*/
}
#calendar{
	float: right;
	width: 40%;
	max-height: 200px;
	display: inline-block;
	margin-right: 25px;
	margin-top: 20px;
}
#chartHeading{
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 50px;
	margin-top: 20px;
}
#chartTitle{
	cursor: pointer;
	cursor: hand;
	margin-right: 20px;
	margin-left: 20px;
}
/*#studentList{
	width: 90%;
}*/
#stat1{
	display: inline-block;
	float : left;
	margin-left: 30px;
	padding-right: 12px;
}
#stat2{
	display: inline-block;
	float: right;
	margin-right: 35px;
	padding-right: 12px;
}
#stat3{
	//position: absolute;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;
}
.fc-content{
	cursor: pointer;
	cursor: hand;
}
/*.alert-danger {
   width: 500px;
}*/
.clear
{
  clear: both;
}
.glow{
	border: #27ae60 3px solid;
}

