


.lionbars .scrollbar {
    opacity: 0;
    -webkit-transition-property: opacity, width, height;
    -webkit-transition-duration: 200ms, 0ms, 0ms;
    -webkit-transition-delay: 1000ms, 1200ms, 1200ms;
    -moz-transition-property: opacity, width, height;
    -moz-transition-duration: 200ms, 0ms, 0ms;
    -moz-transition-delay: 1000ms, 1200ms, 1200ms;
    -o-transition-property: opacity, width, height;
    -o-transition-duration: 200ms, 0ms, 0ms;
    -o-transition-delay: 1000ms, 1200ms, 1200ms;
    transition-property: opacity, width, height;
    transition-duration: 200ms, 0ms, 0ms;
    transition-delay: 1000ms, 1200ms, 1200ms;
}
.lionbars .scrollbar-thumb {
    border-radius: 14px;
}
.lionbars.clicked-vertically .scrollbar.vertical .scrollbar-track, .lionbars .scrollbar.vertical:hover .scrollbar-track {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 0 1px -1px rgba(0, 0, 0, 0.3) inset, 20px 0 20px -20px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition-property: box-shadow, background-color;
    -webkit-transition-duration: 0ms, 0ms;
    -webkit-transition-delay: 0ms, 0ms;
    -moz-transition-property: box-shadow, background-color;
    -moz-transition-duration: 0ms, 0ms;
    -moz-transition-delay: 0ms, 0ms;
    -o-transition-property: box-shadow, background-color;
    -o-transition-duration: 0ms, 0ms;
    -o-transition-delay: 0ms, 0ms;
    transition-property: box-shadow, background-color;
    transition-duration: 0ms, 0ms;
    transition-delay: 0ms, 0ms;
}
.lionbars.clicked-horizontally .scrollbar.horizontal .scrollbar-track, .lionbars .scrollbar.horizontal:hover .scrollbar-track {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3) inset, 0 20px 20px -20px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition-property: box-shadow, background-color;
    -webkit-transition-duration: 0ms, 0ms;
    -webkit-transition-delay: 0ms, 0ms;
    -moz-transition-property: box-shadow, background-color;
    -moz-transition-duration: 0ms, 0ms;
    -moz-transition-delay: 0ms, 0ms;
    -o-transition-property: box-shadow, background-color;
    -o-transition-duration: 0ms, 0ms;
    -o-transition-delay: 0ms, 0ms;
    transition-property: box-shadow, background-color;
    transition-duration: 0ms, 0ms;
    transition-delay: 0ms, 0ms;
}
.lionbars.clicked-vertically .scrollbar.vertical, .lionbars .scrollbar.vertical:hover {
    width: 14px;
    opacity: 0.8;
    -webkit-transition-property: opacity, width, height;
    -webkit-transition-duration: 0ms, 0ms, 0ms;
    -webkit-transition-delay: 0ms, 0ms, 0ms;
    -moz-transition-property: opacity, width, height;
    -moz-transition-duration: 0ms, 0ms, 0ms;
    -moz-transition-delay: 0ms, 0ms, 0ms;
    -o-transition-property: opacity, width, height;
    -o-transition-duration: 0ms, 0ms, 0ms;
    -o-transition-delay: 0ms, 0ms, 0ms;
    transition-property: opacity, width, height;
    transition-duration: 0ms, 0ms, 0ms;
    transition-delay: 0ms, 0ms, 0ms;
}
.lionbars.clicked-horizontally .scrollbar.horizontal, .lionbars .scrollbar.horizontal:hover {
    height: 14px;
    opacity: 0.8;
    -webkit-transition-property: opacity, width, height;
    -webkit-transition-duration: 0ms, 0ms, 0ms;
    -webkit-transition-delay: 0ms, 0ms, 0ms;
    -moz-transition-property: opacity, width, height;
    -moz-transition-duration: 0ms, 0ms, 0ms;
    -moz-transition-delay: 0ms, 0ms, 0ms;
    -o-transition-property: opacity, width, height;
    -o-transition-duration: 0ms, 0ms, 0ms;
    -o-transition-delay: 0ms, 0ms, 0ms;
    transition-property: opacity, width, height;
    transition-duration: 0ms, 0ms, 0ms;
    transition-delay: 0ms, 0ms, 0ms;
}
.lionbars.scrolling-vertically .scrollbar.vertical, .lionbars.scrolling-horizontally .scrollbar.horizontal {
    opacity: 0.8;
    -webkit-transition-property: opacity, width, height;
    -webkit-transition-duration: 0ms, 0ms, 0ms;
    -webkit-transition-delay: 0ms, 0ms, 0ms;
    -moz-transition-property: opacity, width, height;
    -moz-transition-duration: 0ms, 0ms, 0ms;
    -moz-transition-delay: 0ms, 0ms, 0ms;
    -o-transition-property: opacity, width, height;
    -o-transition-duration: 0ms, 0ms, 0ms;
    -o-transition-delay: 0ms, 0ms, 0ms;
    transition-property: opacity, width, height;
    transition-duration: 0ms, 0ms, 0ms;
    transition-delay: 0ms, 0ms, 0ms;
}
.lionbars .scrollbar-track {
    -webkit-transition-property: box-shadow, background-color;
    -webkit-transition-duration: 0ms, 0ms;
    -webkit-transition-delay: 1200ms, 1200ms;
    -moz-transition-property: box-shadow, background-color;
    -moz-transition-duration: 0ms, 0ms;
    -moz-transition-delay: 1200ms, 1200ms;
    -o-transition-property: box-shadow, background-color;
    -o-transition-duration: 0ms, 0ms;
    -o-transition-delay: 1200ms, 1200ms;
    transition-property: box-shadow, background-color;
    transition-duration: 0ms, 0ms;
    transition-delay: 1200ms, 1200ms;
}
/* Turn on a 13x13 scrollbar */
.lionbars .scrollbar.vertical {
    width:11px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
}
.lionbars .scrollbar.vertical .scrollbar-button {
    left: 0;
    right: 0;
}
.lionbars .scrollbar .scrollbar-button {
    background: none;
    position: absolute;
}
/* Turn on single button up on top, and down on bottom */
.lionbars .scrollbar.vertical .scrollbar-button.start.decrement, .lionbars .scrollbar-button.end.increment {
    display: none;
    height: 14px;
    z-index: 1;
}
/* Turn off the down area up on top, and up area on bottom */
.lionbars .scrollbar.vertical .scrollbar-button.start.increment, .lionbars .scrollbar-button.end.decrement {
    display: none;
}
/* Place The scroll down button at the bottom */
.lionbars .scrollbar.vertical .scrollbar-button.decrement.start {
    top: 0;
}
.lionbars .scrollbar.vertical .scrollbar-button.increment.end {
    bottom: 0;
}
.lionbars .scrollbar.vertical .scrollbar-track {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
/* Top area above thumb and below up button */
.lionbars .scrollbar.vertical .scrollbar-track-piece.start {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
/* Bottom area below thumb and down button */
.lionbars .scrollbar.vertical .scrollbar-track-piece.end {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Track below and above */
.lionbars .scrollbar.vertical .scrollbar-track-piece {
    z-index: 0;
}
/* The thumb itself */
.lionbars .scrollbar.vertical .scrollbar-thumb {
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 3px;
    right: 2px;
    z-index: 1;
}
/* Turn on a 13x13 scrollbar */
.lionbars .scrollbar.horizontal {
    height: 11px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
}
.lionbars .scrollbar.horizontal .scrollbar-button {
    position: absolute;
    top: 0;
    bottom: 0;
}
/* Turn on single button up on top, and down on bottom */
.lionbars .scrollbar.horizontal .scrollbar-button.start.decrement, .lionbars .scrollbar-button.end.increment {
    display: none;
    width:14px;
    z-index: 1;
}
/* Turn off the down area up on top, and up area on bottom */
.lionbars .scrollbar.horizontal .scrollbar-button.start.increment, .lionbars .scrollbar-button.end.decrement {
    display: none;
}
/* Place The scroll down button at the bottom */
.lionbars .scrollbar.horizontal .scrollbar-button.decrement.start {
    left: 0;
}
.lionbars .scrollbar.horizontal .scrollbar-button.increment.end {
    right: 0;
}
.lionbars .scrollbar.horizontal .scrollbar-track {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.lionbars.scrollbar-vertical .scrollbar.horizontal .scrollbar-track {
    right: 14px;
}
.lionbars.scrollbar-horizontal .scrollbar.vertical .scrollbar-track {
    bottom: 14px;
}
/* Top area above thumb and below up button */
.lionbars .scrollbar.horizontal .scrollbar-track-piece.start {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
/* Bottom area below thumb and down button */
.lionbars .scrollbar.horizontal .scrollbar-track-piece.end {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
/* Track below and above */
.lionbars .scrollbar.horizontal .scrollbar-track-piece {
    z-index: 0;
}
/* The thumb itself */
.lionbars .scrollbar.horizontal .scrollbar-thumb {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 3px;
    left: 0;
    bottom: 2px;
    z-index: 1;
}
/* Corner */
.lionbars .scrollbar-corner {
    display: none;
}
/* Resizer */
.lionbars .scrollbar-resizer {
    display: none;
}